.mat-icon {
  user-select: none;
}

.mat-card {
  &.concise {
    .mat-card-header {
      .mat-card-avatar {
        display: flex;
        place-items: center;
        width: 32px;
        margin-right: 8px;
      }
      .mat-card-header-text {
        margin: 0;

        .mat-card-title {
          margin-bottom: 4px;
        }
        .mat-card-subtitle {
          margin: 0;
        }
      }
    }
  }
  &.simple-header {
    .mat-card-header {
      .mat-card-header-text {
        margin: 0;
      }
    }
  }
}
