body {
  margin: 0;
  font-family: Saira, "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
  border: 4px solid transparent;
  border-radius: 6px;
  background-clip: padding-box;
}
