.mat-card {
  .mat-card-header {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .property {
    + .property {
      margin-top: 4px;
    }
    .caption {
      font-size: 0.8rem;
      line-height: 0.8rem;
      color: #ffffff80;
    }
    .value {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
  }
}
