.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  .summary {
    margin-bottom: 16px;
  }

  .rig-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 8px;
  }
}

