.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .section {
    .header {
      font-size: 1.4rem;
      font-weight: 400;
      margin: 16px 8px;
    }
    .content {
      &.rig-list {
        display: flex;
        gap: 8px;
        overflow-x: overlay;
        padding-bottom: 16px;
        margin-bottom: -16px;

        .rig {
          min-width: 300px;
        }
      }
      &.chart-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
        gap: 8px;
      }
    }
  }


}

