.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0;

  .section {
    padding: 0 8px;

    &.horizontal-overflow {
      padding: 0;

      .header {
        padding: 0 8px;
      }
      .content {
        overflow-x: overlay;
        padding-bottom: 16px;
        margin-bottom: -16px;

        .scrollable {
          padding: 0 8px;
          width: fit-content;
        }
      }
    }
    &.rigs {
      .rig-list {
        display: flex;
        gap: 8px;

        .rig {
          min-width: 300px;
        }
      }
    }
    &.charts {
      .chart-list {
        display: grid;
        // 100vw - 20px: nem tudom, ennyit kellett kivonni hogy ne overflow-zzon telefon képernyőn
        grid-template-columns: repeat(auto-fit, minmax(min(840px, calc(100vw - 20px)), 1fr));
        gap: 8px;
      }
    }
    &.payments {
      .payment-table-list {
        display: grid;
        // 100vw - 20px: nem tudom, ennyit kellett kivonni hogy ne overflow-zzon telefon képernyőn
        grid-template-columns: repeat(auto-fit, minmax(min(840px, calc(100vw - 20px)), 1fr));
        gap: 8px;
      }
    }
    .header {
      font-size: 1.4rem;
      font-weight: 400;
      margin: 16px 8px;
    }
  }


}

