<div class="cards">
  <mat-card class="concise profitability">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>show_chart</mat-icon>
      </div>
      <mat-card-title>
        {{ totalProfitability*1000 | number:'1.5-5' | profitability:'mBTC' }}
      </mat-card-title>
      <mat-card-subtitle>
        Profitability
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="concise unpaid-amount">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>point_of_sale</mat-icon>
      </div>
      <mat-card-title>
        {{ totalUnpaidAmount*1000 | number:'1.5-5' }} mBTC
      </mat-card-title>
      <mat-card-subtitle>
        Unpaid amount
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="concise power-usage">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>electrical_services</mat-icon>
      </div>
      <mat-card-title>
        {{ totalPowerUsage | wattage }}
      </mat-card-title>
      <mat-card-subtitle>
        Total power usage
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="concise hashrate" *ngFor="let algorithm of usedAlgorithms">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>speed</mat-icon>
      </div>
      <mat-card-title>
        {{ totalHashrateByAlgorithm.get(algorithm).speed | number:'1.2-2' | hashrate:totalHashrateByAlgorithm.get(algorithm).displaySuffix }}
      </mat-card-title>
      <mat-card-subtitle>
        Total hashrate with {{ MiningAlgorithmDisplayNames.get(algorithm) }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <!-- <mat-card class="price-card">
    <mat-card-title>
      BTC-EUR price
    </mat-card-title>
    <mat-card-content>
      {{ price?.value | currency: price?.currency:'symbol':'1.2-2'}}
    </mat-card-content>
  </mat-card> -->
</div>
