<mat-card class="simple-header">
  <mat-card-header>
    <mat-card-title>{{ rig.name }}</mat-card-title>
    <mat-card-subtitle>
      <div class="status">
        <div class="status-indicator" [class]="rig.latestSnapshot.minerStatus"></div>
        <div class="status-name">{{ rig.latestSnapshot.minerStatus | titlecase }}</div>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="properties">
      <div class="property">
        <div class="value">
          <ng-container *ngIf="rig.latestSnapshot.speed != null && rig.latestSnapshot.speed > 0">
            {{ rig.latestSnapshot.speed | number:'1.2-2' | hashrate:rig.latestSnapshot.displaySuffix }}
          </ng-container>
          <ng-container *ngIf="rig.latestSnapshot.speed == null || rig.latestSnapshot.speed <= 0">
            -
          </ng-container>
        </div>
        <div class="caption">
          <ng-container *ngIf="rig.latestSnapshot.algorithm != null">
            {{ MiningAlgorithmDisplayNames.get(rig.latestSnapshot.algorithm) }}
          </ng-container>
          <ng-container *ngIf="rig.latestSnapshot.algorithm == null">
            Unknown algorithm
          </ng-container>
        </div>
      </div>
      <div class="property">
        <div class="value">
          <ng-container *ngIf="rig.latestSnapshot.profitability != null && rig.latestSnapshot.profitability > 0">
            {{ rig.latestSnapshot.profitability*1000 | number:'1.5-5' | profitability:'mBTC' }}
          </ng-container>
          <ng-container *ngIf="rig.latestSnapshot.profitability == null || rig.latestSnapshot.profitability <= 0">
            -
          </ng-container>
        </div>
        <div class="caption">
          Profitability
        </div>
      </div>
      <div class="property">
        <div class="value">
          <ng-container *ngIf="rig.latestSnapshot.temperature != null && rig.latestSnapshot.temperature > 0">
            {{ rig.latestSnapshot.temperature | temperature }}
          </ng-container>
          <ng-container *ngIf="rig.latestSnapshot.temperature == null || rig.latestSnapshot.temperature <= 0">
            -
          </ng-container>
        </div>
        <div class="caption">
          Temperature
        </div>
      </div>
      <div class="property">
        <div class="value">
          <ng-container *ngIf="rig.latestSnapshot.powerUsage != null && rig.latestSnapshot.powerUsage > 0">
            {{ rig.latestSnapshot.powerUsage | wattage}}
          </ng-container>
          <ng-container *ngIf="rig.latestSnapshot.powerUsage == null || rig.latestSnapshot.powerUsage <= 0">
            -
          </ng-container>
        </div>
        <div class="caption">
          Power Usage
        </div>
      </div>
      <div class="property">
        <div class="progressbar">
          <div class="container">
            <div class="progress" [style.--progress-value]="rig.latestSnapshot.revolutionsPerMinutePercentage >= 0? rig.latestSnapshot.revolutionsPerMinutePercentage + '%' : '0' "></div>
            <div class="value">
              <ng-container *ngIf="rig.latestSnapshot.revolutionsPerMinute >= 0">
                {{rig.latestSnapshot.revolutionsPerMinute}} RPM
              </ng-container>
              <ng-container *ngIf="rig.latestSnapshot.revolutionsPerMinute < 0">
                -
              </ng-container>
            </div>
          </div>
          <div class="caption">
            Fan speed
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
