@import '~@angular/material/theming';

.mat-card {
  .mat-card-header {
    font-size: 1.5rem;
    line-height: 1.5rem;

    .status {
      display: flex;
      align-items: center;
      gap: 8px;

      .status-indicator {
        @include mat-elevation(1);
        content: ' ';
        background-color: rgba(141, 141, 141, 0.5);
        width: 12px;
        height: 12px;
        border-radius: 6px;

        &.MINING {
          background-color: rgba(136, 255, 0, 0.5);
        }
        &.BENCHMARKING,
        &.PENDING {
          background-color: rgb(170, 167, 0);
        }
        &.ERROR {
          background-color: rgba(255, 38, 0, 0.5);
        }
        &.STOPPED {
          background-color: rgba(255, 145, 0, 0.5);
        }
      }
    }
  }
  .mat-card-content {
    .properties {
      .property {
        + .property {
          margin-top: 8px;
        }
        .caption {
          font-size: 0.8rem;
          color: #ffffff80;
        }
        > .value {
          font-size: 1rem;
        }
        .progressbar {
          .container {
            @include mat-elevation(1);
            width: 100%;
            content: " ";
            height: 24px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            margin-top: 4px;

            .progress {
              width: var(--progress-value);
              content: " ";
              height: 100%;
              background-color: rgba(255, 255, 255, 0.2);
              transition: width 500ms;
            }

            .value {
              position: absolute;
              font-weight: 500;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 0.9rem;
            }
          }
        }
      }
  }
  }
}
